# Data Science Tools and Ecosystem

This an introduction to jupyter notebook. We are learning to write sentences.
       
**Objectives**:
        
- R
- Python
-  SQL

Some of the popular languages that Data Scientists use are:

        1.Python
        2.SQL
        3.R

Some of the commonly used libraries used by Data Scientists include:
        
        1.Matplotlib
        2. Pandas
        3.Seaborn

|Data Science Tools|
|----|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author
Izak Tanner